.input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  label {
    font-size: 17px;
    font-weight: 500;
  }
  .input-wrapper {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    outline: 1px solid #bebebe;
    padding: 0 10px;
    height: 44px;
    input {
      padding: 10px 0;
      color: #000;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-right: 25px;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      &::placeholder {
        color: #6b6b6b;
      }
    }
    img {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      height: 20px;
      cursor: pointer;
    }
    &.disabled {
      background-color: #6b6b6b31;
      color: #000;
    }
    // &::after{
    //   content: "";
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   bottom: 0;
    //   width: 30px;
    // }
  }
  &:focus-visible {
    .input-wrapper {
      outline: 1px solid #308748 !important;
    }
  }
  &:focus {
    .input-wrapper {
      outline: 1px solid #308748 !important;
    }
  }
  &:focus-within {
    .input-wrapper {
      outline: 1px solid #308748 !important;
    }
  }
  .text-xs {
    font-size: 12px;
    color: #dc2626;
    font-weight: 500;
  }
}

input::-webkit-autofill {
  background-color: transparent !important;
  background: transparent !important;
}
