// Light Mode Style
[data-theme="light"] {
  --bg-color: #c2c2c2;
  --text-color: #373737;
  --light-gray: #828282;
  --dark-gray: #373737;
  --forest-green: #00661f;
  --neon-green: #4dfe7e;
  --medium-green: #148c36;
  --dark-green: #01320f;
}

/* Dark mode styles */
[data-theme="dark"] {
  --bg-color: #c2c2c2;
  --text-color: #373737;
  --dark-gray: #373737;
  --forest-green: #00661f;
  --neon-green: #4dfe7e;
  --medium-green: #148c36;
  --dark-green: #01320f;
}
