* {
  font-family: "Poppins";
  line-height: normal;
}

body {
  h1 {
    font-size: 64px;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }
  .large {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .medium {
    font-size: 14px;
  }
  .small {
    font-size: 12px;
  }
}

.font-Pacifico {
  font-family: "Pacifico", "Inter";
}
