* {
  font-family: "Inter";
}

body {
  h1 {
    font-family: "Inter";
    font-size: 67.276px;
  }
  h2 {
    font-family: "Inter";
    font-size: 40px;
    line-height: 100%;
  }
  h3 {
    font-family: "Inter";
    font-size: 20px;
  }
  h4 {
    font-family: "Inter";
    font-size: 18px;
  }
  p {
    font-family: "Inter";
    font-size: 15px;
  }
  .small {
    font-size: 12px;
  }
  a{
    font-family: "Inter","Roboto";
  }
}

.font-Inter {
  font-family: "Inter", "Roboto";
}
 
 