:root {
  --black: #000000;
  --white: #ffffff;
  --ghost-white: #ffffff80;
  --yellow: #fff000;
  --light-grey: #d9d9d9;
  --medium-grey: #a4a4a4;
  --dark-pink: #fe0b62b8;
  --tomato: #e94e40;
  --light-purple: #f0edff;
  --lightest-purple: #f0edffcc;
  --dark-purple: #380a74;
  --navy-purple: #221d4f;
  --ocean-blue: #32bde8;
  --purple-gradient: linear-gradient(99.78deg, #9181f4 -5.85%, #5038ed 109.55%);
}
