@import url("./_global.scss");
@import url("./_typography.scss");
@import url("./_variable.scss");
@import url("./_home.scss");
@import url("./shared/_navbar.scss");
@import url("./shared/_footer.scss");
