@import "tailwindcss";
@theme {
  /* colors */
  --color-mint-500: oklch(0.72 0.11 178);
  --color-grey: #c0c0c0;

  /* fonts */
  --font-inter: Inter;

  /* breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /* shadow */
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
}
